{% extends "base.html" %}
{% block title %}BronxInn{% endblock %}
{% block content %}
<span class="shadowtext">Jobs</span><br>
<div class="grid grid-cols-3 gap-4">
    <div class="card hover:shadow-lg">
        <h2 class="font-bold">Friends</h2>
        <p>Place Holder</p>
        <a href="{{ url_for('views.friends') }}" class="rounded bg-blue-200 p-2 mt-2">Visit</a>
    </div>
    <div class="card hover:shadow-lg">
        <h2 class="font-bold">Events</h2>
        <p>Place Holder</p>
        <a href="{{ url_for('views.events') }}" class="rounded bg-blue-200 p-2 mt-2">Visit</a>
    </div>
</div>
{% endblock %}
