{% extends "base.html" %}
{% block title %}Explore Resumes{% endblock %}
{% block content %}
<div class="p-4">
    <h2 class="text-2xl font-bold mb-4">Explore Resumes</h2>
    <form method="POST" action="{{ url_for('views.upload_resume')}}">
        <button class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" type="button" action>
            Find Resumes
        </button>
    </form>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {% for resume in resumes %}
        <div class="bg-white p-4 rounded-lg shadow-md">
            <h3 class="text-xl font-semibold mb-2">{{ resume.First_Name }} {{ resume.Last_Name }}</h3>
            <p class="text-gray-700 mb-2">Description: {{ resume.Resume_Description }}</p>
            <p class="text-gray-700 mb-2"><strong>Skills:</strong> {{ resume.Resume_Skills }}</p>
            <p class="text-gray-700 mb-2"><strong>Creator: </strong> {{ resume.creator }}</p>

            {% if resume.creator == current_user.username %}
            <a href="{{ url_for('views.remove_resume', resume_id=resume.id) }}">
                <button class="block text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mt-2">Delete Resume</button>
            </a>
            {% elif resume.creator != current_user.username %}
            <a href="{{ url_for('views.network') }}" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Message</a> 
            {% endif %}
            
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}