{% extends "base.html" %}
{% block title %}BronxInn{% endblock %}
{% block content %}
<span class="">Settings</span><br>
<div class="grid grid-cols-3 gap-4">
    <form method="POST">
        <div class="form-group has-icon fa-user mb-4">
            <label class="movable" for="firstName">Name</label>
            <input type="text" class="form-control form-field" id="data_1" name="data_1" />
        </div>
        <div class="form-group has-icon fa-user mb-4">
            <label class="movable" for="firstName">Location</label>
            <input type="text" class="form-control form-field" id="data_1" name="data_1" />
        </div>
        <div class="form-group has-icon fa-user mb-4">
            <label class="movable" for="firstName">Status</label>
            <input type="text" class="form-control form-field" id="data_1" name="data_1" />
        </div>
    </form>
</div>
{% endblock %}
