{% extends "base.html" %}
{% block title %}Job Details{% endblock %}
{% block content %}
<div class="p-4">
    
    <h2 class="text-2xl font-bold mb-4">{{ job.title }}</h2>
    <p class="text-gray-700 mb-2"><strong>Description:</strong> {{ job.description }}</p>
    <p class="text-gray-700 mb-2"><strong>Time:</strong> {{ job.time_hours }} hours {{ job.time_minutes }} minutes</p>
    <p class="text-gray-700 mb-2"><strong>Pay:</strong> ${{ job.pay }}</p>
    <p class="text-gray-700 mb-2"><strong>Skills Required:</strong> {{ job.skills }}</p>
    <p class="text-gray-700 mb-2"><strong>Location:</strong> {{ job.location }}</p>
    <p class="text-gray-700 mb-2"><strong>Eligible Age:</strong> {{ job.eligibility_min }} - {{ job.eligibility_max }} years</p>
    <p class="text-gray-500 text-sm">Posted on {{ job.posted_date.strftime('%Y-%m-%d') }}</p>
    <br>
    <button class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
        Apply
    </button>
    <br>
    <a href="{{ url_for('views.explore_jobs') }}">
        <button class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mt-4">Back</button>
    </a>
</div>
{% endblock %}
